.container{
    max-width: none !important;
    width: 1150px;
}

h1 {
    border-bottom: 1px solid #EEE;
}

#footer {
    margin: 1em 0;
    padding: 3px;
    font-size: 0.85em;
    color: #777;
    border-top: 1px solid #EEE;
}

#chart_div {
    width: 100%;
    height: 360px;
    background: #F5F5F5;
    padding: 3px;
    border: 1px solid #EEE;
    border-radius: 3px;
}

.progress {

}

