//$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
    padding-top: 10px;
    padding-bottom: 10px;
}

.container {
    width: 980px !important;
    max-width: 980px !important;
}

.header {
    margin-bottom: 4px;
    text-align: center;
    border: none;

    h3 {
        margin: 0;
        padding: 0;
    }
}

.footer {
    margin-top: 10px;
    text-align: center;
    padding-top: 4px;
    border-top: 1px dotted #DDD;
}

#progress {
    height: 4px;
    border-radius: 0;
    margin-bottom: 10px;
    background: #EEE;
}

#progress-bar {
    height: 3px;
    border-radius: 0;
    transition: none;
}

.chartWrapper {
    width: 100%;
    border: 1px solid #DDD;
    border-radius: 3px;
    padding: 2px;
    margin: 10px 0;

    .chart {
        display: block;
        width: 100%;
        text-align: center;
    }
}

.chart-description {
    background: #EEE;
    border-radius: 3px;
    padding: 2px 8px;
    color: #555;
}

.form-wrapper {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

.input-group .form-control {
    font-size: 12px;
}

#mwb-options {

    #mediaWikiUrl {
        width: 243px;
    }
    #pageName {
        width: 397px;
    }

    #note {
        width: 200px;
    }

    #minRandom,
    #maxRandom,
    #iterations,
    #barChartHeight,
    #boxPlotHeight {
        width: 75px;
    }

    #startBenchmark {
        width: 89px;
    }


}

.input-group-addon {
    padding: 0 9px;
    font-size: 12px;
    color: #555;
}

.alert {
    padding: 4px 10px;
    margin-bottom: 10px;

    .close {
        top: -1px !important;
        right: -2px !important;
    }
}
